.bold-text {
  font-weight: bold;
}
.card_title{
  color:white;
  font-size:larger;
  font-weight: bolder;

}

.card_subtitle{
  color:white;
}
.card_img_container {
  position: relative;
}
.card_img_over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

